html{
	background: lightgrey;
}

.img-logo{
	margin: 2em 0 0 2em;
} 

main{
	padding: 30px;
	display: flex;
}

/* SECTION IZQUIERDA */

.input-section{
	margin: 10% 0 0 15%;
    display: flex;
    flex: 2 auto;
    flex-direction: column;
    justify-content: space-between;
}


.input-textarea{

}

.input-encriptacion{

}

.txt-advertencia{
	display: inline;
}


/* SECTION DERECHA */

.output-section{
	display: flex;
    flex-direction: column;
}

.munieco{
	
}

.not-found-title{
	text-align: center;
	font-weight: bold;
}

.not-found-text{
	text-align: center;
}


footer p{
	text-align: center;
	padding: 3em;
	background: lightgoldenrodyellow;
}