<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="../Tools/reset.css">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="../CSS/style.css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
		<title>Encriptador TXT</title>
	</head>
	
	<body>
		<header>
			<img class="img-logo" src="../Images/logo.svg" alt="Logo de Alura">
		</header>

		<main>

			<section class="input-section">
				
				<div class="input-textarea">
					<textarea cols="30" rows="10" autofocus placeholder="Ingrese el texto aqui" onkeypress="return (event.charCode >= 97 && event.charCode <= 122 || event.charCode == 32)" required></textarea>
				</div>
				
				<div class="input-encriptacion">
					<div class="advertencia-container">
						<img src="../Images/signo-exclamacion.svg" class="signo-advertencia" alt="Signo Advertencia">
						<h6 class="txt-advertencia">Solo letras minúsculas son permitidas</h6>
					</div>

					<button class="encriptar-button">Encriptar</button>
					<button class="desencriptar-button">Desencriptar</button>
						
				</div>

			</section>

			<section class="output-section">
			
				<section class="output-section-not-found">
					<img src="../Images/munieco.svg" class="munieco" alt="Personaje buscando">
					<p class="not-found-title">Ningún mensaje fue encontrado</p>
					<p class="not-found-text">Ingresa el texto que desees encriptar o desencriptar</p>
				</section>

				<div>
					<textarea readonly class="encrypt-decrypt-msg"></textarea>
					<button class="copiar">Copiar</button>
				</div>

			</section>

		</main>
		
	</body>
</html>

<script src="../JS/script.js"></script>